@keyframes fadeIn {
    0% {
        opacity: .2;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.signup-header {
    text-align: center;
    width: 33.33%;
    /* display: inline; */
}

.ui-dialog {
    height: initial !important;
    width: initial !important;
    transform: none !important;
    color: red !important;
    font-size: 11px !important;
}

.ui-dialog-message {
    margin: none !important;
}

.submit-button:disabled {
    cursor: not-allowed;
    font-weight: normal;
    border-color: var(--primary-light) !important;
    background-color: var(--primary-light) !important;
}

.submit-button:disabled:hover {
    cursor: not-allowed;
    font-weight: normal;
    background-color: var(--primary-light) !important;
    border-color: var(--primary-light) !important;
}

.submit-button {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
    outline: none;
    border-radius: 10px;
    opacity: .85;
    width: 45%;
    padding-top: 10px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 10px;
    color: white;
    transition: all .3s ease-in-out;
    box-shadow: none !important;
}

.submit-button:hover, .submit-button:focus, .submit-button:active {
    cursor: pointer;
    border-color: var(--primary-dark) !important;
    background-color: var(--primary-dark) !important;
    color: white;
    opacity: 1;
}

.switch-pages-bottom {
    color: black;
    font-size: var(--sub-content);
}

.switch-pages-bottom a {
    color: black;
    text-decoration: underline;
    font-weight: 500;
    color: var(--primary-dark);
    font-size: var(--sub-button);
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    background-color: white;
}

.auth-inner {
    width: 450px;
    margin: 10px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 7px var(--primary-dark);
    padding: 20px 55px 20px 55px;
    border-radius: 15px;
    border: 1px solid white;
    transition: all .3s;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.login-input-area {
    position: relative;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px 14px 5px;
    font-size: var(--main-content);
    margin-bottom: 30px;
}

.login-label {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: var(--main-content);
    padding-left: 5px;
    transition: all .25s ease-in-out;
    color: var(--secondary-dark);
    z-index: 2;
    cursor: text;
    letter-spacing: .4px;
}

.login-label.active {
    transform: translateY(-14px);
    font-size: var(--sub-content);
    color: #000;
    font-weight: 500;
    background-color: inherit;
    color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.login-floating-label {
    -webkit-appearance: none !important;
    outline: none;
    background-color: inherit;
    color: var(--primary-dark);
    border: none;
    z-index: 3;
    width: 100%;
    letter-spacing: .3px;
}

.auth-header {
    font-size: var(--header);
    color: var(--primary-dark);
    padding-bottom: 10px;
}


.flex-row div {
    width: 45%;
}