.post-creation-page-main {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
}

.post-creation-page-header {
    width: 100%;
    height: 7%;
    padding-top: 1%;
}

.post-creation-page-content {
    width: 80%;
    height: calc(100% - 150px);
    margin: auto;
    margin-top: 1%;
    max-height: 93%;
    overflow-y: scroll;
    text-align: center;
}

.post-create-container {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.post-creation-nav {
    width: 10%;
    height: 100%;
    font-size: 1.1vw;
    padding-top: 1%;
    padding-left: 2%;
    text-align: start;
    color: #64B5F6;
    float: left;
    cursor: pointer;
    /* border-right: 0.5px solid #BBDEFB; */
}

.post-creation-empty {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.post-creation-action {
    width: 10%;
    height: 100%;
    padding-right: 2%;
    text-align: end;
    float: left;
}

.post-creation-icon {
    font-size: 1.5vw;
}

.post-create-container-title {
    width: 100%;
    height: 10%;
    text-align: flex-start;
}

.post-title-input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 4vw;
    font-weight: bold;
}

.post-title-input:focus {
    outline: none;
}

.new-post-image-area {
    width: 300px;
    height: 200px;
    position: relative;
    margin-bottom: 25px;
}

.new-post-image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.change-image-action-btn {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 15px);
    border: 1px solid antiquewhite;
    color: antiquewhite;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: #000000ce;
    transition: opacity .4s;
    cursor: pointer;
}

.image-upload-header {
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
    height: 5%;
}

.input-container {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    pointer-events: none;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.label-content {
    height: 10%;
    min-height: 65px;
}

.label-content div {
    text-align: left;
    padding-bottom: 5px;
}

.input-container:hover, .input-container:focus-within {
    border-bottom: 2px solid black;
}

.input-area {
    width: 90%;
    border: none;
    outline: none;
    pointer-events: auto;
}

.input-area:focus {
    pointer-events: auto;
}

.input-count {
    position: absolute;
    right: 0;
    bottom: 0;
    color: gray;
    font-weight: 500
}

.RichEditor-save-button {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100px;
    color: white;
    cursor: pointer;
    justify-content: center;
    opacity: .8;
    transition: opacity .25s ease-in-out;
    margin-right: 20px;
    margin-top: 3%;
    height: 100%
}

.RichEditor-delete-button {
    background-color: #A7CD48;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
    /* display: flex; */
    flex-direction: row;
    width: 50px;
    cursor: pointer;
    justify-content: space-around;
    opacity: .8;
    transition: opacity .25s ease-in-out;
    margin-right: 20px;
    margin-top: 3%;
    height: 100%;
}

.RichEditor-button-area {
    align-items: left;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: flex-start;
    margin-right: 20px;
    position: absolute;
    align-items: baseline;
    left: 15%;
    bottom: 4%;
    margin-top: 3%;
    width: 80%;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: grid;
    z-index: 11;
    border: 1px solid black;
    border-top: none;
    border-radius: 5px;
    background-color: white !important;
    width: 240px;
    overflow-x: scroll;
    left: 10px !important;
}

.topic-select-dropdown button {
    background-color: var(--secondary-dark);
    width: 250px;
    text-align: left;
    padding-left: 15px;
}

.dropdown-menu.show button {
    width: 100%;
    text-align: left !important;
    padding: 10px !important;
    margin: 0 !important;
    background-color: white;
    color: var(--primary-color) !important;
    border-radius: none !important;
    border: none !important;
}

.miscellaneous {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}