.article-display-main {
    height: 100%;
    width: 100%;
}

.back-button-area {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.article-back-button {
    display: flex;
    height: initial;
    width: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

.article-back-button i {
    height: 0 !important;
}

.article-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.article-display-container {
    width: 75%;
    height: 90%;
    padding-right: 2%;
    border-right: 1px solid #ccc;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.article-display-container::-webkit-scrollbar {
    display: none;
}

.image-banner-area {
    width: 100%;
    height: 400px;
    position: relative;
}

.image-banner {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 2px 0px #EEEEEE, 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 1px -1px rgba(0, 0, 0, 0.2);
}

.title-area {
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.article-content-area {
    width: 100%;
    margin: auto;
    /* padding-top: 3%; */
}

.article-summary-area {
    width: 100%;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    font-weight: 500;
    color: #999;
    padding: 3px 7px;
    text-align: justify;
}

.public-DraftEditor-content {
    color: black !important;
}

.tag {
    background-color: #d3d1d1b0;
    border-radius: 3px;
    margin-right: 10px;
    padding: 3px 5px;
}

@media screen and (max-width: 600px) {
    .article-display-container {
        width: 100%;
    }
}