* {
    box-sizing: border-box;
}

body {
    background: #dee5eceb;
    /* min-height: 100vh; */
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root {
    width: 100%;
    height: 100%;
}

.no-display {
    display: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-space {
    width: 100%;
    height: 100%;
}

.loader-main {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: var(--primary-color);
    opacity: .4;
    left: 0;
    bottom: 0;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.hand-cursor {
    cursor: pointer;
}

.paddingy-5 {
    padding-top: 5%;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}

.nav-bar {
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 5;
}

.nav-logo {
    width: 75px;
    cursor: pointer;
    display: inline-block;
}

.main-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    margin-bottom: 25px;
}

.user-action-button {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Toastify__toast--dark {
    background: #414141 !important;
    font-size: 14px;
    color: white;
    border-radius: 5px !important;
}

.Toastify__toast-container--bottom-center {
    bottom: 60px;
}

button {
    outline: none;
    border-radius: 10px;
    opacity: .85;
    padding: 7px 0;
    font-weight: 600;
    cursor: pointer;
    color: white !important;
    transition: all .3s ease-in-out;
    box-shadow: none !important;
}

.action-button {
    background: var(--primary-color);
    margin-right: 10px;
    width: 45%;
    border-color: var(--primary-color);
}

.admin-panel-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 10px ;
    height: 100%;
}

.flex-row-start {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
