@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

.topic-main {
    width: 100%;
    height: 100%;
}

.common-page-header {
    width: 100%;
    height: 10%;
}

.common-page-content {
    width: 100%;
    height: 90%;
    padding-top: 0%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.common-page-name {
    width: 50%;
    height: 100%;
    text-align: flex-start;
    font-size: 1.8vw;
    font-weight: bold;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    float: left;
}

.common-page-action-btn {
    width: 40%;
    height: 100%;
    float: left;
}

.common-page-main-btn {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 2%;
    width: 10%;
    height: 100%;
    float: left;
}

.topic-page-content {
    width: 100%;
    height: 84%;
    padding-top: 0%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
}

.topic-data-content {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-topics, .modify-topics {
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    text-align: left;
    /* padding: 20px 0; */
}

.list-topics {
    border-right: 1px solid #ccc;
}

.modify-labels {
    width: 100%;
    padding-bottom: 10px;
    height: max-content;
    color: #90A4AE;
}

.modify-input {
    border: none;
    outline: none;
}

.modify-input:focus {
    outline: none;
}

.modify-topics .input-container-topic {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.list-topic-title {
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #90A4AE;
    padding-bottom: 2%;
}

.react-switch-topic {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.unchecked-switch, .checked-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: .4px !important;
    color: #aa0000 !important;
    padding-right: 2;
}

.unchecked-switch {
    color: #aa0000 !important;
}

.checked-switch {
    color: #00aa88 !important;
}

.modify-topic-button-container {
    width: 100%;
    text-align: center;
}

.modify-topic-button {
    width: 50%;
    padding: 7px 0;
    margin-top: 15px;
    background: #A7CD48;
    cursor: pointer;
    color: black;
    transition: all .3s ease-in-out;
}

.modify-topic-button:hover {
    font-weight: 600;
}

.topic-display-row, .topic-display-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.topic-display-title {
    font-weight: 600;
    color: #90A4AE;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.topic-display-code {
    width: 30%;
    letter-spacing: .5px;
}

.topic-display-amount {
    width: 25%;
    letter-spacing: .5px;
}

.topic-display-action {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.topic-trash-icon {
    color: rgb(189, 7, 7);
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
}

.topic-trash-icon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.topic-pencil-icon {
    color: orange;
    cursor: pointer;
    transition: all .3s ease-in;
}

.topic-pencil-icon:hover {
    transform: scale(1.2);
}

.topic-active {
    height: 10px;
    margin-right: 5px;
    width: 10px;
    border-radius: 7px;
    background-color: green;
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.topic-active.inactive {
    background-color: red;
}

.duration-select-dropdown > .btn {
    padding: 0 !important;
    background: white !important;
    width: 100% !important;
    text-align: left;
    color: -internal-light-dark(black, white) !important;
    appearance: textfield !important;
}

.duration-select-dropdown .dropdown-item {
    width: 100% !important;
    border: none;
    background: white !important;
    text-align: left;
    padding: 5px; 
}

.duration-select-dropdown .dropdown-item:hover {
    box-shadow: 1px 1px 3px inset #ccc;
}

.topic-display-image {
    width: 100%;
    max-height: 50px;
}