.rich-text-editor-container {
    width: 100%;
    /* min-height: 400px;
    max-height: 600px; */
    position: relative;
}
.rich-text-controls-area {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding-top: 5px;
    display: flex;
    border-bottom: 1px solid #888;
}
.DraftEditor-root {
    overflow: scroll;
    /* min-height: 300px;
    max-height: 400px; */
    padding-top: 10px;
}
.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    user-select: none;
    display: inline-block;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}
.add-image-icon {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
}
