@keyframes fadeIn {
    from {
        width: 0;
        opacity: .5;
    }
    to {
        width: 4px;
        opacity: .9;
    }
}

.article-list-container {
    display: flex;
    width: 70%;
    height: 100%;
    padding-top: 20px;
    flex-direction: column;
    margin: auto;
}

.article-container {
    width: 90%;
    padding: 10px 15px;
    background-color: var(--secondary-light);
    display: flex;
    margin: 5px auto;
    box-shadow: 0px 0px 3px var(--primary-light);
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    transition: all .2s ease-in-out;
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    /* border-bottom: 1px solid var(--primary-dark); */
    position: relative;
}

.article-container:hover {
    padding-left: 19px;
}

.article-container:hover .left-hover-indicator {
    left: 0;
    bottom: 0;
    height: 100%;
    width: 4px;
    position: absolute;
    border-radius: 4px;
    background-color: var(--primary-color);
    animation: fadeIn .2s ease-in-out;
}

.image-thumbnail {
    height: 100px;
    width: 150px;
    padding: 15px;
}

.image-thumbnail img {
    height: 70px;
    width: 120px;
    border-radius: 5px;
}

.content-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: var(--primary-dark);
    width: calc(100% - 150px);
    cursor: default;
    margin: auto;
    /* padding: 2% 1%; */
}

.content-area strong {
    cursor: pointer;
    width: fit-content;
}

.content-area strong:hover {
    text-decoration: underline;
}

.content-area small {
    color: var(--primary-dark);
}

.status-area {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.status-area small {
    background-color: #333;
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 10px;
}

.status-area div {
    margin-left: 10px;
}