.flex-wrap {
    width: 70%;
    flex-wrap: nowrap;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.admin-actions {
    width: 175px;
    height: 75px;
    background-color: var(--primary-color);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
}

.admin-actions:hover {
    background-color: tomato;
    color: black;
}