body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: green;
  --primary-light: #5f5fc4;
  --primary-dark: darkgreen;
  --secondary-color: #8e98d3;
  --secondary-light: white;
  --secondary-dark: #060c27;
  --header: 18px;
  --sub-header: 16px;
  --main-content: 14px;
  --sub-content: 12px;
  --main-button: 15px;
  --sub-button: 13px;
}